body {
	margin: 0;
}

#map {
	width: 100%;
	height: 500px;
}
.easy-button-button {
	width: 30px;
	height: 30px;
}

.label {
	font: bold 12px sans-serif;
}

.elevation-area {
	fill: #000;
	opacity: 0.3;
}

.heart-line {
	fill: none;
	stroke-width: 1;
	stroke: darkred;
}

.speed-line {
	fill: none;
	stroke-width: 1;
	stroke: blue;
}

.here-indicator {
	fill: darkred;
}

.chart text {
	font-size: 10px;
}

.status-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.marker-box,
.total-box {
	flex: 50% 1 0;
}

.track-info > div {
	text-align: right;
}
.easy-button-button .gpt-sphere {
	padding-left: 0px;
	margin-left: 0em;
	font-size: 20px;
	left: -19px;
	top: -11px;
}
button.easy-button-button {
	border: none;
}

.easy-button-container {
	width: 30px;
	height: 30px;
}

.track-nr {
	border: solid 4px;
	padding: 5px;
	margin: 5px;
}

.track-nr.track-nr-single {
	border: 0px;
	margin: 9px;
}

.track-nr-0 {
	border-color: rgba(255, 0, 0, 0.5);
}

.track-nr-1 {
	border-color: rgba(128, 0, 128, 0.5);
}

.track-nr-2 {
	border-color: rgba(0, 128, 0, 0.5);
}

.track-nr-3 {
	border-color: rgba(128, 128, 0, 0.5);
}

.track-nr-4 {
	border-color: rgba(0, 128, 128, 0.5);
}
