body {
	margin:0;
}

#map { width:100%; height:500px; }
.easy-button-button { width:30px; height:30px; }

.label {
	font:bold 12px sans-serif;
}

.elevation-area {
	fill:#000;
	opacity:0.3;
}

.heart-line {
	fill:none;
	stroke-width: 1;
	stroke:darkred;
}

.speed-line {
	fill:none;
	stroke-width: 1;
	stroke:blue;
}

.here-indicator {
	fill:darkred;
}

.chart text {
	font-size:10px;
}

.status-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.marker-box, .total-box {
    flex: 50% 1 0;
}